/* container */
.md-container {
	-fx-font-size: 16px;
	-fx-pref-height: 56px;
	-fx-min-height: -fx-pref-height;
	-fx-max-height: -fx-pref-height;
}

/* text input */
.text-input {
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	-fx-background-radius: 0;
	-fx-text-fill: #1C1B1F;
}

/* label */
.label {
	-fx-text-fill: #49454E;
	-fx-padding: 0px 16px 0 16px;
}

.label:not-empty {
	-fx-font-size: 12px;
}

.label:not-empty:focused {
	-fx-text-fill: #ed872d;
}